
@model List<ResultCategoryDto>
@using System.Globalization

@*
    default GetCategoriesWithBlogsComponent view
*@


@foreach(var category in Model)
{
	
<section class="section">
	<div class="container">

		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">@category.CategoryName</h2>
			</div>
				<div class="col-sm-6 text-sm-end"><a href="/Blog/GetBlogsByCategory/@category.Id" class="read-more">Tümünü Gör</a></div>
		</div>

		<div class="row">
			@foreach(var blog in category.Blogs)
				{
					<div class="col-lg-4 mb-4">
						<div class="post-entry-alt">
							<a href="/Blog/BlogDetails/@blog.Id" class="img-link">
								<img src="@blog.CoverImage"
									 alt="Image"
									 class="img-fluid"
									 style="width:100%; height:250px; object-fit:cover; border-radius:6px;">
							</a>
							<div class="excerpt">


								<h2><a href="#">@blog.Title</a></h2>
								<div class="post-meta align-items-center text-left clearfix">
									<figure class="author-figure mb-0 me-3 float-start"><img src="@blog.Writer.ImageUrl" alt="Image" class="img-fluid"></figure>
									<span class="d-inline-block mt-1">By <a href="#">@blog.Writer.FullName</a></span>
									

							    	<span>@blog.CreatedDate.ToString("dd MMMM yyyy • HH:mm", new CultureInfo("tr-TR"))</span>

								</div>

								<p>
									@{
										// 1. Önce HTML etiketlerini temizle (Regex ile)
										string plainText = System.Text.RegularExpressions.Regex.Replace(blog.Description ?? "", "<.*?>", string.Empty);

										// 2. Metin 60 karakterden uzunsa kısalt, yoksa olduğu gibi bırak
										string content = plainText.Length > 60 ? plainText.Substring(0, 60) + "..." : plainText;
									}

									@content
								</p>
								<p><a href="/Blog/BlogDetails/@blog.Id" class="read-more">Devamını Oku</a></p>
							</div>
						</div>
					</div> 
				}

		</div>

	</div>
</section>



}

